[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twilio = "*"
beautifulsoup4 = "*"
selenium = "*"
pypdf2 = "*"
pycryptodome = "*"
openpyxl = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
